/* Import google Roboto font  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");

/* Body style  */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* universal style  */
* {
  transition: all 500ms ease;
  scroll-behavior: smooth;
}

body > section {
  display: flex;
  min-height: 100vh;
}

/* ================= Sidebar area start ================= */
aside {
  background-color: gray;
  padding: 2rem 1rem;
  width: 100%;
}

.prompt-icon {
  font-size: 0.7rem;
}

.new-chat {
  padding: 1rem;
  border: 2px solid darkgray;
  border-radius: 0.5rem;
  color: white;
}
.new-chat h4 {
  margin: 0;
  padding: 0;
}
.new-chat:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.prompt-history {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: stretch;
  padding: 0.5rem;
}

.prompt-history-btn {
  border: none;
  display: block;
  flex-grow: 1;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: left;
}

/* ================= Sidebar area end ================= */

/* ================= Main area start ================= */
main {
  flex-grow: 1;
  padding: 1rem 10%;
  background-color: black;
  color: white;
  position: relative;
}

.conversation {
  overflow-y: auto;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 60vw;
}

.example-prompts{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  min-height: 60%;
  align-content: end;
  padding: 0 1rem;
  overflow: auto;
}
.conversation section h2 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  padding: 1rem 0;
}
.example-prompt{
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  color: white;
  cursor: pointer;
  text-align: left;
  line-height: 1.5rem;
}
.example-prompt:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.conversation h1 {
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  /* background-color: darkgreen; */
}

article {
  background-color: rgba(255, 255, 255, 0.1);
  min-width: 96%;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);
}

.prompt-message {
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 1rem;
}

.error-message{
  color: red;
}

.prompt-form {
  background-color: gray;
  margin: 0.5rem auto;
  padding: 0;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
}

/*  placeholder style  */
::placeholder {
  color: white;
}

.prompt-form input[type="text"] {
  background-color: transparent;
  padding: 1.2rem 1rem;
  width: 90%;
  border: none;
  color: white;
  outline: none;
}
.prompt-form button[type="submit"] {
  border: none;
  background-color: darkgreen;
  color: white;
  cursor: pointer;
  padding: 0 1.5rem;
}
.prompt-form button[type="submit"]:hover {
  background-color: rgba(0, 100, 0, 0.575);
}

/* ================= Main area end ================= */

/* ================= scrollbar style start ================= */

#scrollbar-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#scrollbar-style::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

#scrollbar-style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: black;
}
.scrollbar {
  overflow-y: auto;
}

/* Loader area start  */

.loader{
  display: flex;
  gap: .2rem;
  align-items: center;
  color: rgba(135, 211, 124,1);
}

.loader-animation {
  width:50px;
  height:50px;
  display:inline-block;
  padding:0px;
  text-align:left;
}
.loader-animation span {
  position:absolute;
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:100%;
  background:rgba(135, 211, 124,1);
  -webkit-animation:loader-animation 1.5s linear infinite;
  animation:loader-animation 1.5s linear infinite;
}
.loader-animation span:last-child {
  animation-delay:-0.9s;
  -webkit-animation-delay:-0.9s;
}
@keyframes loader-animation {
  0% {transform: scale(0, 0);opacity:0.8;}
  100% {transform: scale(1, 1);opacity:0;}
}
@-webkit-keyframes loader-animation {
  0% {-webkit-transform: scale(0, 0);opacity:0.8;}
  100% {-webkit-transform: scale(1, 1);opacity:0;}
}


/* Loader area End  */

/* ================= scrollbar style start ================= */

/* ================= Responsive area start =================  */
@media (max-width: 768px) {
  aside {
    display: none;
  }
  main {
    padding: 0.2rem;
  }
  article {
    min-width: 80vw;
  }
  .example-prompts{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    align-content: baseline;
    gap: .5rem;
  }
  .example-prompt{
    padding: .5rem;
  }

  #scrollbar-style::-webkit-scrollbar {
    width: 2px;
    border-radius: 10px;
  }
}
/* ================= Responsive area End =================  */


